@model Farm_Central.Models.ProductViewModel
    

@{
    ViewData["Title"] = "Edit Product Details";

    var errorMessage = TempData["errorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr/>
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>

}
<form action="Edit" method="post" autocomplete="off">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="ProductId" readonly />
    </div>

    <div class="mb-3">
        <label class="form-label">Farmer's Name'</label>
        <input type="text" class="form-control" asp-for="FarmerName" />
        <span asp-validation-for="FarmerName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input type="text" class="form-control" asp-for="ProductName" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Product Description</label>
        <input type="text" class="form-control" asp-for="ProductDescription" />
        <span asp-validation-for="ProductDescription" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Product Price</label>
        <div class="input-group">
            <span class="input-group-text">R</span>
        <input type="text" class="form-control" asp-for="ProductPrice" />
        </div>
        <span asp-validation-for="ProductPrice" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Sell-By-Date</label>
        <input type="date" class="form-control" asp-for="DateManufactured" />
        <span asp-validation-for="DateManufactured" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-success">Update</button>
    </div>

    
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
